ADO.NET.DAL/obj/
BL/obj/
WinForm/bin/
WinForm/obj/
.vs/
CalculatorWebApplication/bin/
CalculatorWebApplication/obj/
CalculatorWebApplication/Content/
CalculatorWebApplication/fonts/
CalculatorWebApplication/Scripts/
packages/
